*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog

bison-to-grammar.1
yacc-to-grammar.1
yapp-to-grammar.1
yaxx-to-grammar.1

configure
configure.ac
config.log
config.status

yaxx-to-grammar

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex

tools/maint/fetch
tools/maint/whitespace-detect
tools/maint/gitlog-to-committers

tests/defs
tests/wrapper
tests/testSubDir-*
tests/test-1

site/in/.sitetool
site/in/site.stamp
site/out/*
